<div id="comment_form">
  <%= form_with model: [announcement, Comment.new], data: { turbo_frame: "comments" } do |f| %>
    <%= f.text_area :content, placeholder: "Adicione seu comentário...", class: "border w-full p-2 mt-4 rounded" %>
    <%= f.submit "Comentar", class: "bg-blue-500 text-white p-2 rounded mt-2 hover:bg-blue-600" %>
  <% end %>
</div>

