<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">F de Festa</h1>

  <!-- Filtros e Pesquisa -->
  <%= render "search_bar" %>

  <!-- Lista de Anúncios -->
  <%= render "announcements" %>

  <!-- Paginacao -->
  <div class="flex justify-center mt-8">
    <%= paginate @announcements %>
  </div>
</div>