<turbo-stream action="replace" target="like_button">
  <template>
    <div id="like_button" data-controller="likes" class="mt-4">
      <% if @announcement.likes.exists?(user: current_user) %>
        <%= button_to "Descurtir (#{@announcement.likes.count})", announcement_likes_path(@announcement, redirect_back: request.fullpath), method: :post, data: { turbo_stream: true }, class: "bg-red-500 text-white p-2 rounded hover:bg-red-600" %>
      <% else %>
        <%= button_to "Curtir (#{@announcement.likes.count})", announcement_likes_path(@announcement, redirect_back: request.fullpath), method: :post, data: { turbo_stream: true }, class: "bg-green-500 text-white p-2 rounded hover:bg-green-600" %>
      <% end %>
    </div>
  </template>
</turbo-stream>
